.bookingSection {
  position: relative;
  padding-top: 100px;
  padding-bottom: 0;
  background-image: url('/appointment/bg5.png');
  background-color: rgba(245, 240, 255, 1);
  z-index: 2;
}

.container {
  width: 100%;
  padding-right: calc(20px * 0.5);
  padding-left: calc(20px * 0.5);
  margin-right: auto;
  margin-left: auto;
  max-width: 1330px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * 0);
  margin-right: calc(-0.5 * 20px);
  margin-left: calc(-0.5 * 20px);
  align-items: flex-end;
}

.colImage {
  max-width: 100%;
  padding-right: calc(20px * 0.5);
  padding-left: calc(20px * 0.5);
  margin-top: 0;
  flex: 0 0 auto;
  flex-shrink: 0;
  width: 50%;
  visibility: visible;
  animation-duration: 0.8s;
  animation-delay: 0.2s;
  animation-name: fadeInUp;
  text-align: center;
}

.petsImage {
  border-style: none;
  max-width: 100%;
  vertical-align: middle;
  width: 100%;
  height: auto;
  z-index: 999;
  position: relative;
  top: 85px;
}

.colForm {
  max-width: 100%;
  padding-right: calc(20px * 0.5);
  padding-left: calc(20px * 0.5);
  margin-top: 0;
  flex: 0 0 auto;
  flex-shrink: 0;
  width: 50%;
  transform: translateY(39.2349px);
}

.formWrapper {
  position: relative;
  padding-left: 50px;
  margin-left: 60px;
  margin-bottom: -40px;
}

.textVertical {
  border-radius: 0 25px 25px 0;
  padding: 30px 10px;
  writing-mode: tb;
  transform: rotate(-180deg);
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #4a2d71;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 45px;
}

.formBody {
  background-blend-mode: color-burn;
  padding: 50px 40px;
  border-radius: 30px;
  background-image: url('/images/background/bg2.png');
  background-size: cover;
  background-color: #7c58d3;
}

.titleHead {
  margin-bottom: 30px;
}

.formTitle {
  margin-top: 0;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  line-height: 1.4;
  font-size: 1.75rem;
  margin-bottom: 0;
  color: #ffffff;
}

.highlight {
  color: #faff17;
}

.dzForm {
  width: 100%;
}

.dzFormMsg {
  margin-bottom: 15px;
}

.formControl {
  margin: 0;
  font-family: inherit;
  display: block;
  width: 100%;
  appearance: none;
  border: 0;
  padding: 15px 0;
  transition: 0.3s ease-in-out;
  background: transparent;
  border-radius: 1px solid #4a2d71;
  height: 60px;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  background-clip: initial;
  background-color: transparent;
  border-bottom: 2px solid #ffffff;
  outline: 0;
}

.activeInput {
  border-color: #faff17;
}

.formRow {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * 0);
  margin-right: calc(-0.5 * 20px);
  margin-left: calc(-0.5 * 20px);
}

.colHalf {
  max-width: 100%;
  padding-right: calc(20px * 0.5);
  padding-left: calc(20px * 0.5);
  margin-top: 0;
  flex: 0 0 auto;
  flex-shrink: 0;
  width: 50%;
  margin-bottom: 30px;
}

.colFull {
  max-width: 100%;
  padding-right: calc(20px * 0.5);
  padding-left: calc(20px * 0.5);
  margin-top: 0;
  flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  margin-bottom: 30px;
}

.formFloating {
  position: relative;
}

.formFloating label {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  position: absolute;
  left: 0;
  z-index: 2;
  text-align: start;
  text-overflow: ellipsis;
  pointer-events: none;
  transform-origin: 0 0;
  padding: 0;
  border: 0;
  height: auto;
  font-size: 16px;
  top: 15px;
  color: rgba(255, 255, 255, 0.6);
}

.activeLabel {
  top: 15px;
  font-size: 12px;
  transform: translateY(-22px);
  font-weight: 600;
  color: #faff17;
}

.selectWrapper {
  vertical-align: middle;
  position: relative;
  background-image: none;
  float: none;
  display: inline-block;
  margin-left: 0;
  width: 100%;
}

.formSelect {
  margin: 0;
  font-family: inherit;
  text-transform: none;
  overflow-wrap: normal;
  background-position: right 0.75rem center;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-radius: 20px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 16px 12px;
  appearance: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: #ffffff;
  background-image: none;
  border: none;
  bottom: 0;
  left: 50%;
  padding: 0;
  position: absolute;
  display: block;
  width: 0.5px;
  height: 100%;
  opacity: 0;
  z-index: 0;
}

.selectPlaceholder {
  overflow: hidden;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}

.submitButton {
  margin: 0;
  text-transform: none;
  appearance: button;
  padding: 18px 25px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 15px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-family: var(--bs-btn-font-family);
  font-size: 1.125rem;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.05) 0 5px 20px;
  line-height: 1.223;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: #4a2d71;
  background-color: #ffffff;
}

.rightIcon {
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-color: #4a2d71;
  background-color: #4a2d71;
  color: #ffffff;
  height: 44px;
  width: 44px;
  min-width: 44px;
  transform: translateY(0);
  margin: -11px -18px -11px 12px;
}

/* Animations */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* Responsive styles */
@media (max-width: 991px) {
  .colImage, .colForm {
    width: 100%;
  }
  
  .colForm {
    margin-top: 30px;
  }
  
  .formWrapper {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .colHalf {
    width: 100%;
  }
}
