.contentInner {
  padding-top: 70px;
  padding-bottom: 40px;
  background-blend-mode: luminosity;
  background-attachment: fixed;
  position: relative;
  background-position: left center;
  background-image: url('/banner/bg1.webp');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  direction: ltr;
}

.overlay {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(107, 78, 152, 0.85);
  z-index: 0;
}

.container {
  width: 100%;
  padding-right: calc(20px * 0.5);
  padding-left: calc(20px * 0.5);
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
  position: relative;
  z-index: 1;
}

.contentWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * 0);
  margin-right: calc(-0.5 * 20px);
  margin-left: calc(-0.5 * 20px);
  align-items: center;
}

.column {
  max-width: 100%;
  padding-right: calc(20px * 0.5);
  padding-left: calc(20px * 0.5);
  margin-top: 0;
  flex: 0 0 auto;
  flex-shrink: 0;
  width: 50%;
  margin-bottom: 30px;
}

.contentColumn {
  order: 2;
}

.imageColumn {
  order: 1;
  position: relative;
  right: 10px;
}

.sectionHead {
  margin-bottom: 30px;
}

.title {
  margin-top: 0;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0;
  line-height: 1.3;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 38px;
  color: rgba(255, 255, 255, 1);
  text-align: left;
}

.rowWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * 40px);
  margin-right: calc(-0.5 * 3rem);
  margin-left: calc(-0.5 * 3rem);
  position: relative;
}

.iconBxWrapper {
  position: relative;
  border-radius: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(30px);
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.iconBx {
  transition: 0.5s;
  position: relative;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  background-color: #6B4E98;
}

.iconContent {
  overflow: hidden;
}

.dzTitle {
  margin-bottom: 0.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  line-height: 1.4;
  position: relative;
  margin-top: 0;
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-align: left;
}

.description {
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 200;
  opacity: 0.7;
  text-align: left;
}

.contentMedia {
  position: relative;
  margin-right: 0;
}

.dzMedia {
  overflow: hidden;
  position: relative;
  border-radius: 30px;
}

.image {
  border-style: none;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  width: 100%;
  position: relative;
  z-index: 1;
  border-radius: 30px;
}

.item1 {
  position: absolute;
  left: -20px;
  right: auto;
  bottom: -20px;
  width: 200px;
  z-index: 2;
}

.infoWidget {
  border-radius: 20px;
  padding: 30px 25px;
  text-align: center;
  background-color: #6B4E98;
  box-shadow: 0 0 60px rgba(0,0,0,0.1);
  width: 280px;
}

.contentText {
  display: block;
  font-weight: 700;
  line-height: 1;
  font-size: 52px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 10px;
}

.counterSpan {
  font-size: 40px;
}

.fadeInUp {
  visibility: visible;
  animation-duration: 0.7s;
  animation-delay: 0.2s;
  animation-name: fadeInUp;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}